body {
    font: 0.8em Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: gray; /* Цвет фона */
    color: white; /* Цвет текста */
   }
   a { color: yellow; /* Цвет ссылок */ }
   #container {
    width: 800px; /* Ширина макета */
    margin: 0 auto; /* Выравниваем по центру */
    background: lime; /* Цвет колонок */
   }
   #header { 
    font-size: 2.2em; /* Размер текста */     
    text-align: center; /* Выравнивание по центру */
    padding: 5px; /* Отступы вокруг текста */
    background: green; /* Цвет фона шапки */
   }
   #nav, #aside {
    float: left; width: 120px; padding: 5px;
   }
   #content {
    background: yellowgreen;
    margin: 0 120px; /* Ширина колонок */
    padding: 10px;
   }
   #aside {
    float: right; color: #000;
   }
   h2 { margin: 0 0 1em; }
   #footer { 
    clear: both; /* Отменяем действие float */
    padding: 5px; /* Отступы вокруг текста */
    background: green; /* Цвет фона подвала */
   }
